<html>
    <head>
        <title>Aim Style</title>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>


        <div id="app">
            <div v-if="config != false" class="containerAim">
                <div class="title">{{config.Translate.title}}</div>
                

                <div class="containerStili">
                    <div @click="setNewStyle('default')" v-bind:style="getStyle('default')" class="stile">
                        <span>{{config.Translate.default}}</span>
                    </div>
                    <div @click="setNewStyle(v.id)" v-bind:style="getStyle(v.id)" v-for="v in listaStili" class="stile">
                        <span>{{v.label}}</span>
                    </div>
                </div>

                <div @click="close()" class="close"><span style="font-size: 2.2222vh;">{{config.Translate.close}}</span></div>
            
            </div>
        </div>

        <script src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
        <script src='https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js'></script>
        <script src="./js/script.js "></script>
    </body>
</html>